<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to G School</title>
    <style>
      body{
        font-family: arial;
        margin-top: 5%;
        text-align: center;

      }
    </style>
  </head>
  <body>
    <h1><a href="./classrooms">ENTER</a></h1>
    <p>WELCOME TO G SCHOOL</p>
  </body>
</html>
