<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>G School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link href="/css/index.css" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <div class="enter">
      <h1><a href="./classrooms">ENTER</a></h1>
    </div>
  </body>
</html>
