body{
  font-family: arial;
  margin-top: 5%;
  text-align: center;
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, fixed;
  background-position: center;
}
